@import "tailwindcss";
@config "../tailwind.config.js";
section{
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }
  ::-webkit-scrollbar-track {
    background: #edf4fc;
  }
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #38475d, #253245);
    border: 2px solid transparent;
  }
/* ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to right, #603c3d, #ed868c);
  } */